/*
 * Jumbotron
 */
.jumbotron-landing {
	background-image: url(../img/landing.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-top: 7rem;
}

.jumbotron-user {
    margin: -0.26rem 0rem 0rem 0rem;
    padding: 5rem 1.2rem 0.6rem 1.2rem;
    color: #ffffff;
    background-image: url(../img/dashboard.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

@media (max-width: 991.98px) {
	.jumbotron-user {
		margin: -0.45rem 0rem 0rem 0rem;
	}
}


/*
 * Utilities
 */
.m-button-logo {
	margin-top: -27px;
	margin-bottom: -10px;
}

/*
 * Login
 */
.top-login {
	top: 20vh;
}